<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete customer</title>
</head>
<body>
<h1>Delete Blog</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/">Customer list</a>
</p>
<form th:action="@{/remove}" th:object="${blog}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>First name:</td>
            <td th:text="${blog.nameOfBlog}"></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td th:text="${blog.getContent()}"></td>
        </tr>
        <tr>
            <button type="button"><a th:href="@{/}">Back to List</a> </button>
            <td><input type="submit" value="Delete customer"></td>
        </tr>
    </table>
</form>
</body>
</html>